body {

    background: url("background.jpg") no-repeat;
    background-size: cover;
}

p {
    margin: 0;
}
aside {
    float: left;
    background-color: #d5e5da;
    border-radius: 20px;
    padding: 1% 0;
    margin: 0 0.5%;
    width: 25%;
    text-align: center;
}

main {
    float: left;
    background-color: #d5e5da;
    border-radius: 20px;
    margin: 0;
    padding: 1% 2%;
    width: 70%;
    text-align: center;
    display: none;
}

aside section {
    margin: 4%;
}

form input[type="text"] {

    margin: 2% 1%;
    padding: 1%;
    height: 25px;
    text-align: center;
    width: 30%;
}

form input[type="button"] {

    margin: 4% 2%;
    width: 30%;
    height: 30px;
}

input[type='text'] {

    width: 40px;
    height: 30px;
    text-align: center;

}

table {
    border-collapse: collapse;
}

#result {
    position: relative;
    text-align: center;
    margin: auto auto;
}

td, th {
    border: solid 1px black;
    width: 50px;
    height: 30px;
    text-align: center;
}

th {
    background-color: aqua;
}

.strike {
    background-color: lightcoral;
}

.solvers {
    background-color: coral
}

.s1 {
    background-color: bisque;
}

.s2 {
    background-color: gainsboro;
}

.res {
    background-color: greenyellow;
}
